@import "bootstrap-sprockets";
@import "bootstrap";

$un-blue: #4B92DB;

body{
	padding-top: 50px;
}

form input[type=text], 
form input[type=number], 
form select,
form textarea{
	width:94%;
	}

form input[type=checkbox]{
	margin-right: 0.4em;
}

nav.navbar-inverse {
	background: $un-blue !important;
	li > a{
		color: white !important;
		&:hover{
		text-decoration: underline;
		}
	}
}

a.navbar-brand {
	color: white !important;
}

h1, h2, h3, label {
  color: #444 !important;
}

.logo_cepal {
	width: 70px;
	float: right;
	margin-top: 5px;
}

th, td {
  padding: 0.6em !important;
  border-bottom: 1px solid grey;
}

.group-section{
	border: 1px solid #ddd;
  padding: 2em;
}