<h1>Lista de empleados</h1>
<div class="list-group">

<% @members.each do |member| %>
	<a href="<%= member_path(member) %>" class="list-group-item"><%= member.apellido + " " + member.nombre + " " + member.index.to_s %></a>
<% end %>
